.careers-header{
    width: 100%;
    border-bottom: 1px solid #cecece;
    color: #070606;
}

.careers-header label{
    font-size: 1.25rem !important;
}

.careers-header a{
    color: #41B06E;
    padding: 5px !important;
    text-decoration: none;
}

.careers-header a:hover{
    text-decoration: underline;
}

.content-img{
    padding: 1.5rem !important;
    display: flex;
    justify-content: center;
    border-bottom: 1px solid #cecece;
}

.content-img img{
    height: auto;
    width: auto;
}

.dl-forms{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem !important;
    border-bottom: 1px solid #cecece;
}

.forms-header label{
    color: #41B06E;
    font-size: 1.5rem;
}

.forms{
    display: flex;
    gap: .25rem !important;
}

.downloadable-file a{
    padding: 0.25rem !important;
    font-size: 1rem;
    text-decoration: none;
    color: #070606;
}

.downloadable-file a:hover{
    cursor: pointer;
}

.career-application{
    width: 100%;
    padding: 1.25rem 2rem !important;
    justify-content: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2;
}

.career-application-box{
    display: flex;
    flex-direction: column;
    padding: 1rem !important;
    height: 300px;
    width: 450px;
    border: 1px solid whitesmoke;
    border-radius: 5px;
    box-shadow: #41B06E 3px 3px 1px;
}