*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
}
:root{
   --primary-color-text: rgb(111, 110, 110);
   --secondary-color-text: #000;
   --terinary-color-text: #96e6a1;
}
/* Main Container */
.container-wrapper{
    padding: 6rem 15rem 8rem !important;
}
.container{
    display: flex;
    flex-direction: column;
    gap: 5.5rem;
}
*{
    font-size: 17px !important;
}
h1{
    font-size: 35.5px !important;
}
h2{
    font-size: 28px !important;
}
p{
    line-height: 1.7rem !important;
}
button{
    border: none;
}




  