.nav-bar{
    position: sticky;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    padding: 0 3.5rem !important;
    height: 115px;
    z-index: 200;
}
.nav-logo{
    font-size: 24px;
    font-weight: 700;
}
.nav-logo img{
    max-width: 500px;
    height: auto;
}
.nav-list{
    display: flex;
    gap: 1.5rem;
}
.nav-list a, button{
    font-size: 1.25rem !important;
    font-weight: 500;
    color: #000;
    cursor: pointer;
}
.nav-list a{
    text-decoration: none;  
}
.dropdown-toggle {
    background-color: transparent !important;
}