<!-- Email -->
<div class="email-container">
    <div class="email-contents">
        <div class="email-img">
            <img src="./assets/images/Email campaign-pana.svg" alt="">
        </div>
        <div class="email-forms">
            <img src="" alt="">
            <h4>Subscribe for Online News Letter</h4>
            <form class="pt-4">
                <input type="email" class="form-control p-2" id="email" placeholder="Enter email" required>
                <button class="p-2 border-0"><i class='bx bxs-paper-plane px-2'></i>Submit</button>
            </form>
        </div>
    </div>
</div>