<div class="nav-logo ">
    <a href="#"><img src="./assets/images/logo.png" alt=""></a>
</div>
<div class="nav-list">
    <a href="home.html">Home</a>
    <div class="dropdown">
        <button class="dropdown-toggle border-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          About
        </button>
        <ul class="dropdown-menu p-2">
          <li><a class="dropdown-item" href="doctors.html">Doctors</a></li>
          <li><a class="dropdown-item" href="about.html">History, Vision and Mission</a></li>
        </ul>
    </div>
    <a href="clinical_dept.html">Clinical Departments</a>
    <div class="dropdown">
        <button class="dropdown-toggle border-0" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          Patient Guides
        </button>
        <ul class="dropdown-menu p-2">
          <li><a class="dropdown-item" href="#">Action</a></li>
          <li><a class="dropdown-item" href="#">Another action</a></li>
          <li><a class="dropdown-item" href="#">Something else here</a></li>
        </ul>
    </div>
    <a href="services_and_facilities.html">Services & Facilities</a>
    <a href="careers.html">Careers</a>
    <a href="#" data-bs-toggle="modal" data-bs-target="#myModal">Contact Us</a>  
</div>

